.column-container{
    height: 100%;
    flex: 1;
    width: 100%;
    display: flex;
    font-family: Sanchez;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: flex-start;
}
.column-container .nav-tab{
    background-color: steelblue;
    color: white;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}
.column-container .nav-tab button svg{
    align-self: center;
    width: 50%;
    margin-left: 15%;
    height: 50%;
}

.column-container .nav-tab button{
    display: flex;
    align-self: center;
    color: white;
    background-color: inherit;
    border: none;
    width: 25%;
    height: 100%;
}
.column-container .nav-tab h2{
    margin-top: 2%;
    width: 100%;
    text-align: left;
}
.edit-profile-main{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.edit-picture-frame{
    height: 50%;
    width: 50%;
}


.edit-name-frame{
    margin-left: 2%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.column-container > Form{
    display: flex;
    flex-direction: column;
}

.editable-input{
    outline: none;
    height: 2rem;
    background-color: whitesmoke;
    border: none;
    border-radius: 0;
    border-bottom: 0.05rem steelblue solid;
    filter: grayscale(100%);
    margin-top: 5rem;
    width: 95%;
}


.custom-picture-upload{
    filter: grayscale(0%);
    transition: 600ms ease;
    overflow: hidden;
    background-size: 100%;
    margin-top: 2rem;
    font-size: 0;
    color: coral;
    border-radius: 9rem;
    width: 9rem;
    height: 9rem;
    background-color: black;
    margin-left: 10%;
}

.custom-picture-upload text{
    visibility: hidden;
    opacity: 0;
    transition: 600ms ease 100ms;
    text-align: center;
    background: darkslategrey;
    align-items: center;
    color: white;
    border: 0.15rem black solid;
    position: absolute;
    margin-left: 0.6rem;
    margin-top: 3.5rem;
    font-size: 1rem;
}

.custom-picture-upload input{
    overflow: hidden;
    width: 9rem;
    height: 9rem;
    border-radius: 9rem;
}
.custom-picture-upload:hover{
    border: none;
    filter: grayscale(100%);
}
.custom-picture-upload:hover text{
    visibility: visible;
    opacity: 1;
}


.editable-input:hover {
    background-color: whitesmoke;
    border: none;
    filter: grayscale(0%);
    border-bottom: 0.2rem steelblue solid;
}
.column-container > form button {
    margin-top: 15%;
    border: none;
    transition: 70ms ease;
    align-self: center;
    height: 20%;
    border-radius: 2rem;
    width: 90%;
    overflow: hidden;

}

.edit-name-frame button:hover{
    border-color: limegreen;
    color: limegreen;
    background-color: whitesmoke;
}

.big-buttons-container{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.change-credential-button:first-child{
    border-bottom: 0.2rem white solid;

}


.change-credential-button{
    border: 0.2rem steelblue solid;
    transition: 400ms ease;
    background-color: steelblue;
    color: white;
    padding: 0;
    width: 100%;
    height: 5.5rem;
}

.change-credential-button:hover {
    border: 0.2rem steelblue solid;
    background-color: white;
    color: steelblue;

}
.column-container .alert{
    display: flex;
    position: relative;
    align-self: center;
    width: 90%;
    margin-top: 5%;


 }



/*Reused css classes from login components for styling change-email and change-password tabs.*/

.column-container > svg{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 40%;
    height: 35%;
    color: steelblue;
    align-self: center;
}
.column-container .login-body{
    flex-direction: column;
    margin-top: 15%;
    height: 100%;
}
.column-container .login-body button{
    height: 8%;
    margin-top: 2%;
    margin-bottom: 5%;
}


