.column-container.chatbox > .nav-tab {
    z-index: 2;
    height: 5.075rem;
    position: fixed;
    background-color: steelblue;
    color: white;
    border: none;
}
.chatbox .nav-tab h2 {
    margin-top: 0.3rem;
}

.chatbox-container {
    flex: 1;
    display: flex;
    height: 100%;
}
.column-container.chatbox {
    flex: none;
    height: 100%;
    background: linear-gradient(lightslategrey, lightsteelblue);
}

.chatbox-input-row {
    background-color: steelblue;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.55rem;
}
.chatbox-input-row button {
    border: none;
    background-color: inherit;
}

.chatbox-input-row svg {
    color: white;
}
.chatbox-input-row > form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}
.message-input-cloud {
    margin-left: 1rem;
    padding: 0.3rem;
    width: 80%;
    background-color: white;
    border: 0;
    border-radius: 0.6rem;
}
.chatbox-input-row input {
    padding: 0;
    border: 0;
    width: 100%;
}
.chatbox-input-row input:active,
.chatbox-input-row input:focus {
    outline: none;
}
.chatbox-input-row button {
    margin-right: 1rem;
    margin-left: auto;
}

.chatbox-input-row svg {
    width: 2rem;
    height: 3rem;
}

.chatbox-main {
    padding: 1rem 0 0.5rem 0;
    position: relative;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    margin-top: 5.075rem;
}

.chatbox-message-window {
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
}

.chatbox-profile {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 3.7rem;
    height: 100%;
}

.chatbox-profile img {
    margin-left: 0.2rem;
    align-self: center;
    height: 3rem;
    border-radius: 2rem;
    width: 3rem;
}
.chatbox-cloud {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    align-self: flex-end;
    min-width: 3.9rem;
    height: 100%;
    flex-direction: column;
    display: flex;
}

.chatbox-cloud > span {
    text-align: right;
    align-self: flex-end;
    min-height: 3rem;
    font-family: 'DejaVu Sans';
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow-wrap: anywhere;
    padding: 0.5rem;
    background-color: palegreen;
    min-width: 4rem;
    width: max-content;
    height: auto;
}
.chatbox-cloud > span > span {
    margin-left: auto;
    align-self: flex-end;
    width: max-content;
    font-size: 0.7rem;
    color: dimgrey;
}

.scroll-to-newest-button {
    transition: 300ms ease;
    opacity: 0;
    padding: 0;
    margin: 0 0 3.8rem 0;
    position: fixed;
    width: 3rem;
    border-radius: 3rem;
    height: 3rem;
    bottom: 0;
    background-color: inherit;
    left: 45%;
    border: none;
}
.scroll-to-newest-button svg {
    border: none;
    background-color: whitesmoke;
    color: steelblue;
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
}
@media only screen and (min-width: 600px) and (min-height: 400px) {
    .column-container.chatbox > .nav-tab {
        border-bottom: 0.12rem black solid;
    }
    .chatbox .nav-tab button {
        width: 13%;
    }
    .chatbox .nav-tab h2 {
        margin: 0;
    }
    .chatbox-main {
        overflow-x: hidden;
    }
    .scroll-to-newest-button {
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 45%;
        margin-bottom: 4rem;
    }
    .message-input-cloud {
        width: 92%;
    }

    .chatbox-input-row {
        border-top: 0.12rem black solid;
    }
    .chatbox-input-row button {
        width: auto;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    .column-container.chatbox {
        width: 70%;
    }
    .column-container.chatbox > .nav-tab {
        position: relative;
    }
    .chatbox-main {
        margin-top: 0;
    }
    .chatbox-container .loading-container{
        left: 45%;
    }
}
