.column-container {
    height: 100%;
    flex: 1;
    width: 100%;
    display: flex;
    font-family: Sanchez;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: flex-start;
}
.column-container .nav-tab {
    background-color: steelblue;
    color: white;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}
.column-container .nav-tab h2 {
    margin-bottom: 0;
}

.column-container .nav-tab > button:first-child > svg {
    align-self: center;
    width: 50%;
    margin-left: 15%;
    height: 50%;
}
.logout-button  {
    align-items: center;
    width: 3rem;
    display: flex;
    justify-content: flex-end;
}
.logout-button > svg {
    width: 3rem;
    height: 2.2rem;
}
.bio-container {
    margin-top: 1rem;
}



.column-container .nav-tab button {
    display: flex;
    align-self: center;
    color: white;
    background-color: inherit;
    border: none;
    width: 25%;
    height: 100%;
}
.edit-profile .nav-tab h2 {
    margin-top: 2%;
    width: 100%;
    text-align: left;
}
.edit-profile-main {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.edit-picture-frame {
    height: 50%;
    width: 50%;
}

.edit-name-frame {
    margin-left: 2%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.column-container > Form {
    display: flex;
    flex-direction: column;
}

.editable-input {
    font-size: 1.2rem;
    outline: none;
    height: 2rem;
    background-color: whitesmoke;
    border: none;
    border-radius: 0;
    border-bottom: 0.05rem steelblue solid;
    filter: grayscale(100%);
    margin-top: 5rem;
    width: 95%;
}

.custom-picture-upload {
    filter: grayscale(0%);
    transition: 600ms ease;
    overflow: hidden;
    background-size: 100%;
    margin-top: 2rem;
    font-size: 0;
    color: coral;
    border-radius: 9rem;
    width: 9rem;
    height: 9rem;
    background-color: black;
    margin-left: 10%;
}

.custom-picture-upload text {
    visibility: hidden;
    opacity: 0;
    transition: 600ms ease 100ms;
    text-align: center;
    background: darkslategrey;
    align-items: center;
    color: white;
    border: 0.15rem black solid;
    position: absolute;
    margin-left: 0.6rem;
    margin-top: 3.5rem;
    font-size: 1rem;
}

.custom-picture-upload input {
    overflow: hidden;
    width: 9rem;
    height: 9rem;
    border-radius: 9rem;
}
.custom-picture-upload:hover {
    border: none;
    filter: grayscale(100%);
}
.custom-picture-upload:hover text {
    visibility: visible;
    opacity: 1;
}

.editable-input:hover {
    background-color: whitesmoke;
    border: none;
    filter: grayscale(0%);
    border-bottom: 0.2rem steelblue solid;
}
.edit-profile-button {
    background-color: lightslategrey;
    color: white;
    margin-top: 15%;
    border: none;
    transition: 70ms ease;
    align-self: center;
    min-height: 3rem;
    border-radius: 2rem;
    width: 90%;
    overflow: hidden;
}

.edit-name-frame button:hover {
    border-color: limegreen;
    color: limegreen;
    background-color: whitesmoke;
}

.big-buttons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.change-credential-button {
    border: 0.2rem steelblue solid;
    transition: background-color 400ms ease;
    background-color: steelblue;
    color: white;
    padding: 0;
    width: 100%;
    height: 5.5rem;
}

.change-credential-button:hover {
    border: 0.2rem steelblue solid;
    background-color: white;
    color: steelblue;
}
.column-container .alert {
    display: flex;
    position: relative;
    align-self: center;
    width: 90%;
    margin-top: 5%;
}

/*Change password and changeMail css.*/

.reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.reset-password-form:first-child {
    margin-top: 3rem;
}
.reset-password-form span {
    color: grey;
}

.reset-password-form .editable-input {
    margin-top: 0;
    margin-bottom: 1rem;
    height: 5%;
    width: 90%;
    align-self: center;
}
.reset-password-form .alert {
    margin-top: 2rem;
    margin-bottom: 0;
}
.reset-password-form > .btn {
    transition: 700ms ease-in-out;
    margin-top: 2rem;
    height: 4rem;
    width: 20rem;
    border-radius: 1rem;
}
.active-button {
    color: white;
    background-color: limegreen;
}

@media only screen and (min-width: 600px) and (min-height: 400px) {
    .column-container > .nav-tab button {
        padding: 0;
        width: 10rem;
    }

    .profile-edit > .nav-tab button {
        padding: 0;
        width: 10rem;
        display: flex;
        align-items: center;
    }
    .profile-edit > .nav-tab button svg {
        width: 5rem;
    }
    .profile-edit > .nav-tab span {
        font-size: 1.5rem;
    }
    .profile-edit > .nav-tab h2 {
        margin: 0 0 0 3rem;
    }
    .profile-edit .alert {
        margin: 0 1rem 0 1rem;
        width: auto;
    }
    .edit-picture-frame {
        height: 100%;
        width: 20%;
    }
    .custom-picture-upload {
        height: 10rem;
        width: 10rem;
    }
    .custom-picture-upload input:focus {
        border: none;
        outline: none;
    }
    .custom-picture-upload text {
        position: absolute;
        margin: 0;
        left: 10%;
        top: 40%;
    }
    .edit-name-frame {
        align-self: start;
        margin-left: 0;
        height: 100%;
    }
    .profile-edit > form button {
        margin-top: 3rem;
    }
    .big-buttons-container {
        border: inherit;
    }
    .big-buttons-container button {
        border: none;
        border-top: 0.1rem steelblue solid;
        border-bottom: 0.1rem steelblue solid;
    }
    .big-buttons-container button:hover {
        border: none;
        border-top: 0.1rem steelblue solid;
        border-bottom: 0.1rem steelblue solid;
    }
    .big-buttons-container button:last-child {
        border: none;
        border-top: 0.1rem steelblue solid;
    }

    /* Credentials */

    .change-credential-container .nav-tab button {
        width: 10rem;
    }
    .change-credential-container .editable-input {
        width: 60%;
    }
    .change-credential-container form {
        padding-top: 3rem;
    }
    .change-credential-container > .nav-tab h2 {
        margin: 0;
    }
}
