.searchbox{
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
    font-family: Sanchez;
}

.searchbox-title-row{
    height: 5rem;
    overflow: hidden;
    width: 100%;
    font-size: 1.5rem;;
    border-top: 0.1rem black solid;
    border-bottom: 0.1rem black solid;
    background: linear-gradient(90deg,#067cde, #3effc9);
    color: white;
    display: flex;
    align-items: center;
}



.room-info-box{
    background: lightskyblue;
    border: none;
    border-top: 0.05rem black solid;
    border-bottom: 0.05rem black solid;
    display: flex;
    text-align: left;
    flex-direction: row;
    width: 100%;
    padding: 0;
    transition:  700ms ease;
    height: 5rem;
}
.chatroom-name-box{
    padding: 0.5rem;
    display: flex;
    overflow-wrap: anywhere;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.1rem;
    height: 100%;
    width: 30%;
}
.chatroom-desc-box{
    padding: 0.5rem;
    font-style: italic;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    height: 100%;
    width: 55%;
}
.chatroom-logo-box{
    width: 15%;
    height: 100%;
}
.chatroom-logo-box img{
    margin-left: 0.5rem;
    width: 80%;
    height: 100%;
}

.room-info-box:hover{
    background: lightgoldenrodyellow;
}
.loading-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 1.3rem;
    left:30%;
    top:35%;
    width: 10rem;
    height: 10rem;
}

.loading-container .spinner-border{
    color: inherit;
    position: fixed;
    left: inherit;
    top: inherit;
    width: 10rem;
    height: 10rem;
}

@media only screen and (min-width: 600px) and (min-height: 400px) {
    .searchbox{
        border-right: 0.3rem black solid;
        overflow: auto;
        flex: none;
        width: 20rem;
    }
    .searchbox-title-row{
        border-top: none;
    }
    .loading-container{
        color: black;
        position: absolute;
        left:55%;
        top: 40%;
    }


    }
