.view-profile-container {
    --friend-color-primary: #48ff00;
    --friend-color-secondary: #0066e0;
    z-index: 2;
    border-radius: 2rem;
    display: flex;
    background: linear-gradient(#005dab, white);
    flex-direction: column;
    position: fixed;
    top: 35%;
    left: 0;
    height: 15rem;
    width: 100%;
}
.friend-profile {
    background: linear-gradient(limegreen, orange);
}

.view-profile-box {
    display: flex;
    width: 100%;
    height: 80%;
}
.view-profile-picture {
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    align-items: center;
    width: 50%;
    height: 70%;
}
.view-profile-picture img {
    height: 9rem;
    width: 9rem;
    border-radius: 9rem;
}
.view-profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 2rem;
    background-color: white;
}
.view-profile-info span:first-child {
    font-size: 0.85rem;
}
.view-profile-info span {
    width: 100%;
    font-size: 1.8rem;
}
.view-profile-container > .btn {
    transition: 700ms ease-in-out;
    margin-bottom: 0.5rem;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    align-self: center;
    border: 0.1rem limegreen solid;
    border-radius: 4rem;
    background-color: limegreen;
    color: white;
    outline: none;
}

.view-profile-container > button:hover,
.view-profile-container > .btn:focus {
    outline: none;
    background-color: white;
    color: limegreen;
    border: 0.1rem limegreen solid;
}
@media only screen and (min-width: 600px) and (min-height: 400px) {
    .view-profile-container {
        position: absolute;
        left: auto;
        width: 40%;
        margin-left: 2rem;
        border: 0.12rem black solid;
    }
    .view-profile-container > .btn {
        width: 70%;
        background-color: #42c2e8;
        border: 0.12rem black solid;
    }
    .view-profile-container > .btn:hover {
        outline: none;
        color: black;
        background-color: white;
        border: 0.12rem #42c2e8 solid;
    }
    .view-profile-container > .btn:focus {
        width: 30%;
        outline: none;
    }
}
