.chatters-list{
    border-left: 0.2rem black solid;
}
.chatters-list > .nav-tab{
    height: 5.075rem;
    border-bottom: 0.12rem black solid;
}
.chatters-list > .column-container{
    align-items: flex-start;
    width: 100%;
    background-color: lightsteelblue;
    height: 6rem;
    padding-top: 1rem;
}
.chatter-cloud{
    transition: 300ms ease-in-out;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    width: 90%;
    height: 5rem;
    border-radius: 3rem;
    border: 0.1rem black solid;
    background-color: lightskyblue;
}
.chatters-list img{
    margin-left: 1rem;
    border-radius: 4rem;
    width: 4rem;
    height: 4rem;
}
.chatters-list span{
    margin-left: 1rem;
    font-size: 1.3rem;
}
.chatter-cloud:hover{
    background-color: navajowhite;
}