:root {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --icon: #FF1493FF;
    --transition-speed: 300ms;

}
html, body, #root, .overlay
{
    height: 100%;width: 100%
}


body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;

}

.main{
    transition: 900ms ease;
    background-color: lightsteelblue;
    overflow: scroll;
    display: flex;
    flex-grow: 1;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
.socialbar{
    display: none;
}

@media only screen and (min-width: 600px) and (min-height: 400px) {
    .overlay{
        width: 70%;
        border-radius: 3rem;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        height: 100%;
        overflow: hidden;
    }
    #root{
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    .main{
        overflow: hidden;
    }
}




