.main-column{
    font-family: Sanchez;
    display: flex;
    flex-direction: column;
    flex:1;
}
.main-column Form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 9rem;
}
.main-column > span{
    margin-top: 2rem;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;

}
.room-info-row{
    align-self: center;
    width: 90%
}
.room-info-row input{
    font-size: 1.1rem;
    margin-top:2rem;
}

.logo-picker{
    margin-top: 2rem;
    align-items: flex-start;
    display: flex;
    width: 100%;
    height: 40%;
}
.logo-picker button{
    background: inherit;
    margin-top: 3rem;
    border: none;
    width: 3rem;
    height: 3rem;
}




.logo-picker button:first-child{
    margin-left: 15%;
}
.logo-picker button:last-child{
    margin-right: 15%;
}

.current-logo{
    display: flex;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;
    height: 10rem;
    flex: 1;
}


@keyframes swipe-right{
    0%{ opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);    }

}
@keyframes swipe-left{
    0%{ opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);    }

}

